@import "../../styles/color.module.scss";

.content1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  @media (max-width: 600px) {
    padding: 0;
    margin: 0 20px;
    width: 18.5rem;
  }
}

.content1_DarkMode {
  background-color: $color-very-dark-blue-DarkMode;
}

.Link {
  text-decoration: none;
}
