$color-dark-blue-DarkMode: hsl(209, 23%, 22%);
$color-very-dark-blue-DarkMode: hsl(207, 26%, 17%);
$color-very-dark-blue-LightMode: hsl(200, 15%, 8%);
$color-dark-grey-LightMode: hsl(0, 0%, 52%);
$color-very-light-grey: hsl(0, 0%, 98%);
$color-white-DarkLightMode: hsl(0, 0%, 100%);
