@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
}
