@import "../../styles/color.module.scss";

.NavBox {
  position: static;
  // top: 0;
  // left: 0;
  background-color: $color-very-light-grey;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5rem;
  box-shadow: 0px 5px 10px 0px #aaa;
}

.NavBox_DarkMode {
  background-color: $color-dark-blue-DarkMode;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px 0px #b90031;
}

.World {
  color: $color-very-dark-blue-LightMode;
  font-weight: 600;
  font-size: 1.5rem;
}

.World_DarkMode {
  color: $color-very-light-grey;
}

.Button {
  background-color: $color-dark-grey-LightMode;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
}

.ButtonText {
  color: $color-very-dark-blue-LightMode;
  font-weight: 600;
  padding: 5px 10px;
  width: 10rem;
}

@media screen and (max-width: 600px) {
  .World {
    font-size: 0.7rem;
    width: 10rem;
    right: 0;
  }

  .NavBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
