@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

@import "../../styles/color.module.scss";

.MediaCard {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.FilterSearchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 100px;
  height: 10rem;
}

.FilterSearchContainer_DarkMode {
  background-color: $color-very-dark-blue-DarkMode;
}

@media screen and (max-width: 600px) {
  .FilterSearchContainer {
    display: flex;
    flex-direction: column;
  }
}
