@import "../../styles/color.module.scss";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.BoxBack {
  position: static;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  padding-left: 3rem;
}

.ContainerCP {
  background-color: $color-very-light-grey;
  width: 100%;
  height: 100%;
}

.ContainerCP_DarkMode {
  background-color: $color-very-dark-blue-DarkMode;
  width: 100%;
  height: 100%;
}

.countryDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: top;
  margin-top: 80px;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.countryDetailsContainer_DarkMode {
  background-color: $color-very-dark-blue-DarkMode;
  color: white;
}

.countryDetailsContainer img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-left: 2rem;
}

.BackBoxButton {
  display: flex;
  align-items: end;

  width: 100vw;
  height: 50px;
  box-sizing: border-box;
  padding-left: 3rem;
}

.BackBoxButton_DarkMode {
  background-color: $color-very-dark-blue-DarkMode;
}

.ButtonBack {
  box-shadow: 9px 10px 22px -7px #666666;
  background: linear-gradient(to bottom, #dedede 5%, #f2f2f2 100%);
  background-color: #dedede;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 39px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e0e0e0;
  border: none;
}

.ButtonBack:hover {
  background: linear-gradient(to bottom, #f2f2f2 5%, #dedede 100%);
  background-color: #f2f2f2;
}

.ButtonBack:active {
  position: relative;
  top: 1px;
}

.LeftContainer {
  width: 100%;
}

.RightContainer {
  width: 100%;
}

.MiddleBox {
  width: 100%;
  display: flex;
}

.LeftDesc {
  width: 20rem;
}

.RightDesc {
  width: 30rem;
}

// lOADING ANIMATION

.ldsRollerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
}

.ldsRoller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRoller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f85b00;
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .countryDetailsContainer {
    // height: 50rem;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow-x: hidden;
  }

  .LeftContainer img {
    padding: 0;
  }

  .MiddleBox {
    display: flex;
    flex-direction: column;
  }
}
